@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700')

.page
    font-family 'Roboto Slab', serif
    font-weight 400
    box-sizing border-box

.wrapper
    display flex
    align-items center
    justify-content space-between
    flex-direction column
    perspective 1000px
    position relative
    min-height 100%
    min-width 100%
    box-sizing border-box
    padding 10px 5px
    background-color #ddd
    background-image linear-gradient(45deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35))
    background-repeat no-repeat
    background-size cover
    background-position center center
    background-attachment fixed

.page_loading
    .card
        opacity 0
        transform rotateX(20deg)
    .loader
        opacity .8

.loader
    position absolute
    top 50%
    left 50%
    width 30px
    height 30px
    border-radius 30px
    margin -15px 0px 0px -15px
    opacity 0
    z-index 1000
    transition opacity .2s ease
    background-color #fff
    animation loader 1s infinite linear
    border 4px solid transparent
    border-top-color #fc0
    border-left-color #fc0
    box-shadow 0px 0px 0px 8px #fff, 0 0 35px rgba(0, 0, 0, 0.06)

@keyframes loader
    0%
        transform rotate(0)

    100%
        transform rotate(360deg)

.card    
    opacity .89
    position relative
    transform-origin 50% 50%
    transform rotateX(0deg)
    transition opacity 1.5s ease, transform 1s ease
    transition-delay .25s
    align-self center
    margin auto
    perspective 1000px
    width 300px
    height 400px
    
    & *
        box-sizing border-box
           
    &__container
        transition 0.9s
        transform-style preserve-3d
        width 100%
        height 100% 
        &_ok
            transform rotateY(180deg)
        
    &__front
    &__back
        background #fafafa
        border-radius 7px
        text-align center
        // border 1px solid rgba(0,0,0,.02)
        // box-shadow 0px 0px 1px 0px rgba(0,0,0,.05)
        box-shadow 0 0 35px rgba(0, 0, 0, 0.06)
        position absolute
        width 100%
        height 100%
        top 0
        left 0
        backface-visibility hidden
            
    &__front
        z-index 2
        transform rotateY(0deg)
    
    &__back
        transform rotateY(180deg)
    
    &__headr
        width 100%
        padding 30px 10px
        
    &__footer
        width 100%
        padding 30px 10px
        border-top 1px solid #dbdbdb

    &__title
        font-size 25px
        line-height 1.1em
        font-weight 700
        margin-bottom 15px
        &_ok
            font-size 20px
            margin-top 35px
            margin-bottom 5px  
    
    &__text
        font-size 14px
        line-height 1.5em
        font-weight 700
        margin-bottom 45px
    
    &__phone
        font-size 18px
        line-height 1.1em
        margin-bottom 10px
        font-weight 700

    &__maps
        font-size 13px
        line-height 1.1em
        font-weight 700
        
.form
    margin 0px auto 0px auto
    text-overflow clip
    text-align left
    display table
    
    &:after
        content: ''
        display table
        clear both

    &__input
        width 138px
        box-sizing border-box
        border-top 1px
        border-bottom 1px
        border-left 1px
        border-right 0px
        border-style solid 
        border-color #dbdbdb
        // border 0 solid transparent
        border-top-left-radius 4px
        border-bottom-left-radius 4px
        color #000
        font-size 14px
        padding 0px 8px
        height 30px
        -webkit-appearance none 
        outline none
        float left

    &__btn
        background #384588
        font-size 14px
        line-height 30px
        height 30px
        padding 0px 8px
        box-sizing border-box
        display inline-block
        float left
        cursor pointer
        font-weight 700
        color #fff
        border-top-right-radius 4px
        border-bottom-right-radius 4px
    
    &__title
        text-align center
        font-size 15px
        line-height 1.2em
        font-weight 700
        margin-bottom 10px      

placeholder = #888
.input::-webkit-input-placeholder
    color placeholder
.input::-moz-placeholder
    color placeholder
.input:-moz-placeholder
    color placeholder
.input:-ms-input-placeholder
    color placeholder
    